.ProductList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem 1.25rem;
  grid-gap: 24px;
}

@media only screen and (max-width: 768px) {
  .ProductList {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 3rem;
    grid-gap: 8px;
  }
}

@media only screen and (max-width: 512px) {
    .ProductList {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 1.5rem;
    }
  }
